body{
    background-color: rgb(246, 153, 119);
}

/*header*/
nav{
    text-align: center;
    }
    nav ul{
    margin: 0 ;
    padding: 0 ;
    }
    nav ul li{
    list-style: none;
    display: inline-block;
    width: 18%;
    min-width: 90px;
    }
    nav ul li a{
    text-decoration: none;
    color: #333;
    }
    nav ul li.current a{
    color: #F33135;
    }
    nav ul li a:hover{
    color: #E7DA66;
    }


h1{
    text-align: center;
    font-size: 2.5rem;
    color: black;
    margin: 30px 0 50px;
}

/*main*/
img{
    width: 400px;
    display: block;
    margin: auto;
    margin-top: 30px;
}

main h1{
    font-size: 25px;
    font-family: "ヒラギノ丸ゴ Pro W4" ;
}

p{
    text-align: center;
    font-family: "ヒラギノ丸ゴ Pro W4" ;
}

.item-title{
        display: table;
        text-align: center;
        white-space: nowrap;
     
        &:after,
        &:before {
            content: '';
            display: table-cell;
            width: 50%;
            background: linear-gradient(transparent 50%, currentColor 50%, currentColor calc(50% + 2px), transparent calc(50% + 2px));
            background-clip: padding;
        }
     
        &:after {
            border-left: 1em solid transparent;
        }
     
        &:before {
            border-right: 1em solid transparent;
        }
    }


    /*animation*/
img {
    -webkit-animation: korokoro 6s linear 0s 1;
    animation: korokoro 5s linear 0s 1;
    animation-iteration-count: infinite;
  }
  @-webkit-keyframes korokoro {
    0%   { -webkit-transform: translate(0%, 0%); }
    5%   { -webkit-transform: translate(10%, 0%) rotate(10deg); }
    25%  { -webkit-transform: translate(20%, 0%) rotate(20deg); }
    30%  { -webkit-transform: translate(-10%, 0%) rotate(-10deg); }
    35%  { -webkit-transform: translate(-15%, 0%) rotate(-15deg); }
    45%  { -webkit-transform: translate(10%, 0%) rotate(10deg); }
    50%  { -webkit-transform: translate(15%, 0%) rotate(15deg); }
    60%  { -webkit-transform: translate(-5%, 0%) rotate(-5deg); }
    65%  { -webkit-transform: translate(-7%, 0%) rotate(-7deg); }
    75%  { -webkit-transform: translate(0%, 0%) rotate(0deg); }
    100% { -webkit-transform: translate(0%, 0%) rotate(0deg); }
  }
  @keyframes korokoro {
    0%   { transform: translate(0%, 0%); }
    5%   { transform: translate(10%, 0%) rotate(10deg); }
    25%  { transform: translate(20%, 0%) rotate(20deg); }
    30%  { transform: translate(-10%, 0%) rotate(-10deg); }
    35%  { transform: translate(-15%, 0%) rotate(-15deg); }
    45%  { transform: translate(10%, 0%) rotate(10deg); }
    50%  { transform: translate(15%, 0%) rotate(15deg); }
    60%  { transform: translate(-5%, 0%) rotate(-5deg); }
    65%  { transform: translate(-7%, 0%) rotate(-7deg); }
    75%  { transform: translate(0%, 0%) rotate(0deg); }
    100% { transform: translate(0%, 0%) rotate(0deg); }
  }

  
    /*フッター*/

footer{
    margin-top: 50px;
    text-align: center;
    padding: 10px 0;
}

footer p{
    font-size: 10px
}